*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures


# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild